@charset "UTF-8";
*{margin: 0;padding: 0;box-sizing: border-box;}
body{
	width: 1200px;
	margin: 0 auto;
}

body>main{
	margin-top: 20px;
	width: 100%;
	background-color: ghostwhite;
}

body>header{
	width: 100%; height: 120px;
	background-color: #ffdddd;
}
body>footer{
	width: 100%; height: 500px;
	background-color: #FFF56E;
	margin-top: 20px;
}